<nav class="navbar navbar-expand-lg immeuble">
    <div class="container">
        <a class="navbar-brand logo" href="">
        <img
            src="images/logo/logo.png"
            alt="Agence immobiliers"
            width="100"
        />
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center lienMenu">

            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">QUI SOMMES NOUS?</a></li>
            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">NOTRE METIER</a></li>
            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">NOS OFFRES</a></li>
            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">ACTUALITES</a></li>
            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">NOS RÉFÉRENCES</a></li>
            <li class="nav-item"><a class="nav-link colorMenu p-3" href="#">NOUS CONTACTER</a></li>
        </ul>
        </div>
    </div>
</nav>