
.header {
    margin-top: 10%;
    height: 60vh;
    h2 {
        font-size: 55px;
    }
}


button {
    font-size: 16px;
    background-color: #f7931e;
    color: white;
    padding: 12px 28px;
}

select {
    font-size: 18px;
}

.type_bien {
    width: 40%;
}

.bouton button {
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 992px) {

    .header {
        margin-top: 8%;
    }

    .bouton button img {
        height: 14px;
        width: auto;
    }
    .header-bg {
        background-size: cover;
    }



}


@media (max-width: 768px) {
    .header-bg {
        background-size: cover;
    }


    .header {
        margin-top: 5%;
        height: auto;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 28px;
    }

    button {
        font-size: 14px;
 
    }
    select {
        font-size: 14px;
    }

    .bouton button {
        font-size: 14px;
    }

    .bouton button img {
        height: 12px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 22px;
    }

    button {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }

    .bouton button {
        font-size: 12px;
    }

    .bouton button img {
        height: 10px;
    }
}
