<!-- <div class="header-bg">
    <app-navbar></app-navbar>
    <app-header></app-header>
    <app-homepage>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex-row col-md-10 d-md-flex justify-content-md-around">
@if ( monOffre(); track offre) {

<div class="card" style="width: 18rem;">
  <img [src]="offre.photoUrl" class="card-img-top" [alt]="offre.libelle">
  <div class="card-body">
    <h5 class="card-title">{{ offre.titre }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ offre.ville }}</li>
    <li class="list-group-item">{{ offre.surface }}</li>
    <li class="list-group-item">{{ offre.prix }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-dark">Card link</a>
  </div>
</div>
}
                </div>
            </div>
        </div>
    </app-homepage>
</div>
<div class="building-bg">
    <app-qui-sommes-nous></app-qui-sommes-nous>
    <app-nos-offres></app-nos-offres>
</div>
<app-footer></app-footer> -->