.header-bg {
  background-image: url('/images/HEADER BG.png');
  background-size: cover;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

.building-bg {
    background-image: url('/images/Site bg.png');
    background-size: cover;
    background-position: center;
}