@use '../../../variables' as *;

.color1 { background-color: $orange; }
.color2 { background-color: $bleuClair; }
.color3 { background-color: $bleuFonce; }
.color4 { background-color: $bleuMarine; }

.bar-fine, .bar-moyenne, .bar-large, .bar-fond {
  min-height: 300px;
}

@media (min-width: 768px) {
  .bar-fine, .bar-moyenne, .bar-large, .bar-fond {
    min-height: 600px;
  }
}

.bar-fine { width: 30px; }
.bar-moyenne { width: 50px; }
.bar-large { width: 80px; }

.image-position {
  position: absolute;
  right: -250px;
  width: 1000px;
  z-index: 10;
}

.image {
  width: 500px;
  height: auto;
  margin-top: 100px;
  margin-left: 400px;
  position: relative;
  z-index: 10;
}

.point {
  position: absolute;
  top: 50px;
  left: 360px;
  width: 400px;
  z-index: 9;
}

.trait {
  width: 50px;
  height: 3px;
  background: $orange;
  margin-bottom: 20px;
}

.padding {
  padding-top: 0px;
}

.boutton {
  background-color: $orange;
  color: $blanc;
  border: none;
  padding: 10px 20px;
}

.boutton:hover {
  background-color: $orange;
  opacity: 0.9;
  color: $blanc;
}