$orange: #f7931e;
$bleuMarine: #19516b;
$bleuFonce: #247093;
$bleuClair: #70bdeb;
$blanc: #ffffff;
$noir: #000000;
$noirOpacity: rgba(0, 0, 0, 0.65);

$font-family: 'Lato';

$fontStyleBlack: 900;
$fontStyleRegular: 400;
$fontStyleLight: 300;